<section class="body-login">
    <div class="container">
        <!-- Page création de compte contient référence Login REF -->
        <form class="form" id="form-inscription" novalidate>
            <h2 class="form-titre">Création de Compte</h2>

            <div class="form-input-group">
                <input type="email" class="form-input" id="input-email" autofocus placeholder="Adresse Courriel" required>
                <div id="erreur-email-inscription" class="erreur"></div>
            </div>
            <div class="form-input-group">
                <input type="password" class="form-input" id="input-password" autofocus placeholder="Mot de Passe" required minlength="5" maxlength="20">
                <div id="erreur-password-inscription" class="erreur"></div>
            </div>
            <button class="form-button" type="submit">Inscription</button>
            
            <p class="form-text">
                <a class="form-link" href="./login" id="linkCreerCompte">Vous avez déjà un compte? Connectez-vous</a>
            </p>
        </form>
    </div>
</section>

<script type="module" src="./js/inscription.js"></script>
<script type="module" src="./js/validationInscription.js"></script>

{{!-- <script type="module" src="../public/js/inscription.js"></script>
<script type="module" src="../public/js/validationInscription.js"></script> --}}


<!-- RÉFÉRENCES Création de compte HTML CSS
    Titre:  How to Build a Login & Sign Up Form with HTML, CSS & JavaScript - Web Development Tutorial
    Author: dcode, (31 août 2020)
    URL:    https://www.youtube.com/watch?v=3GsKEtBcGTk
    Nom de référence:  "Login REF" 
 -->