<section>
    <h2>Utilisateur</h2>
    <p>
        ID: {{user.id_utilisateur}}
    </p>
    <p>
        Email: {{user.email}}
    </p>
    {{#if admin}}
    <p>
        Je suis administrateur.
    </p>
    {{/if}}
</section>